.mm-modal-content {
  position: absolute;
}
.mm-modal-overlay {
  position: absolute;
}
.loading-overlay {
  position: absolute;
}

@media screen and (min-width: 768px) {
  .mm-text--heading-sm {
    font-weight: var(--typography-s-heading-sm-font-weight);
    font-size: var(--typography-s-heading-sm-font-size);
    line-height: var(--typography-s-heading-sm-line-height);
    letter-spacing: var(--typography-s-heading-sm-letter-spacing);
  }
}

@media screen and (min-width: 768px) {
  .mm-text--display-md {
    /* font-weight: var(--typography-s-display-md-font-weight); */
    font-size: var(--typography-s-display-md-font-size);
    line-height: var(--typography-s-display-md-line-height);
    letter-spacing: var(--typography-s-display-md-letter-spacing);
  }
}
.mm-text-field-focused {
  outline: 5px auto -webkit-focus-ring-color;
}